:root {
  --text-color: #667085;
  --color-red: #8E2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.button_base{
    display: flex;
    width: 160px;
    height: 30px;
    align-items: center;
    gap: 8px;
}
.text_logo h3 {
    margin: 0;
}

.text_logo{
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    color: #3A404E;
}

.navbar{
    display: flex;
    width: 362px;
    height: 32px;
    align-items: center;
    gap: 32px;
    justify-content: space-around;
}
.navbar a{
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
}

.auth-nav{
    display: flex;
    width: 207px;
    height: 44px;
    gap: 12px;
}

.auth_login{
    width: 83px;
    height: 44px;
    border: none;
    appearance: none;
    background: none;
}

.auth_login a{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.auth_signup{
    width: 112px;
    height: 44px;
    border: 1px solid var(--color-red);
    border-radius: 8px;
    background-color: var(--color-red);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.auth_signup a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}